In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("books.csv")

In [5]:
df

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6805,9788185300535,8185300534,I Am that,Talks with Sri Nisargadatta Maharaj,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,http://books.google.com/books/content?id=Fv_JP...,This collection of the timeless teachings of o...,1999.0,4.51,531.0,104.0
6806,9788185944609,8185944601,Secrets Of The Heart,NaN,Khalil Gibran,Mysticism,http://books.google.com/books/content?id=XcrVp...,NaN,1993.0,4.08,74.0,324.0
6807,9788445074879,8445074873,Fahrenheit 451,NaN,Ray Bradbury,Book burning,NaN,NaN,2004.0,3.98,186.0,5733.0
6808,9789027712059,9027712050,The Berlin Phenomenology,NaN,Georg Wilhelm Friedrich Hegel,History,http://books.google.com/books/content?id=Vy7Sk...,Since the three volume edition ofHegel's Philo...,1981.0,0.00,210.0,0.0
6809,9789042003408,9042003405,'I'm Telling You Stories',Jeanette Winterson and the Politics of Reading,Helena Grice;Tim Woods,Literary Criticism,http://books.google.com/books/content?id=2lVyR...,This is a jubilant and rewarding collection of...,1998.0,3.70,136.0,10.0

In [6]:
df_new = df[["title","authors","categories","description","published_year","average_rating","ratings_count"]]

In [7]:
df_new

,title,authors,categories,description,published_year,average_rating,ratings_count
0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,361.0
1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,5164.0
2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,172.0
3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,29532.0
4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002.0,4.15,33684.0
...,...,...,...,...,...,...,...
6805,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,This collection of the timeless teachings of o...,1999.0,4.51,104.0
6806,Secrets Of The Heart,Khalil Gibran,Mysticism,NaN,1993.0,4.08,324.0
6807,Fahrenheit 451,Ray Bradbury,Book burning,NaN,2004.0,3.98,5733.0
6808,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,Since the three volume edition ofHegel's Philo...,1981.0,0.00,0.0
6809,'I'm Telling You Stories',Helena Grice;Tim Woods,Literary Criticism,This is a jubilant and rewarding collection of...,1998.0,3.70,10.0

In [8]:
df_new["published_year"]=df_new["published_year"].round().astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [10]:
df_new.isnull().sum()

title               0
authors            72
categories         99
description       262
published_year      6
average_rating     43
ratings_count      43
dtype: int64

In [18]:
df2 = df_new.dropna()

In [19]:
df2.reset_index(inplace=True)

In [20]:
df2

,index,title,authors,categories,description,published_year,average_rating,ratings_count
0,0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,361.0
1,1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,5164.0
2,2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,172.0
3,3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,29532.0
4,4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002.0,4.15,33684.0
...,...,...,...,...,...,...,...,...
6406,6803,Journey to the East,Hermann Hesse,Adventure stories,This book tells the tale of a man who goes on ...,2002.0,3.70,24.0
6407,6804,The Monk Who Sold His Ferrari: A Fable About F...,Robin Sharma,Health & Fitness,"Wisdom to Create a Life of Passion, Purpose, a...",2003.0,3.82,1568.0
6408,6805,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,This collection of the timeless teachings of o...,1999.0,4.51,104.0
6409,6808,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,Since the three volume edition ofHegel's Philo...,1981.0,0.00,0.0
6410,6809,'I'm Telling You Stories',Helena Grice;Tim Woods,Literary Criticism,This is a jubilant and rewarding collection of...,1998.0,3.70,10.0

In [21]:
df2.isnull().sum()

index             0
title             0
authors           0
categories        0
description       0
published_year    0
average_rating    0
ratings_count     0
dtype: int64

lets bulid a knowledge based recommender system

In [22]:
df2["published_year"]= df2["published_year"].astype(int)

C:\Users\91994\AppData\Local\Temp\ipykernel_24200\1232048433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["published_year"]= df2["published_year"].astype(int)

In [23]:
df2

,index,title,authors,categories,description,published_year,average_rating,ratings_count
0,0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004,3.85,361.0
1,1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000,3.83,5164.0
2,2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982,3.97,172.0
3,3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993,3.93,29532.0
4,4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002,4.15,33684.0
...,...,...,...,...,...,...,...,...
6406,6803,Journey to the East,Hermann Hesse,Adventure stories,This book tells the tale of a man who goes on ...,2002,3.70,24.0
6407,6804,The Monk Who Sold His Ferrari: A Fable About F...,Robin Sharma,Health & Fitness,"Wisdom to Create a Life of Passion, Purpose, a...",2003,3.82,1568.0
6408,6805,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,This collection of the timeless teachings of o...,1999,4.51,104.0
6409,6808,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,Since the three volume edition ofHegel's Philo...,1981,0.00,0.0
6410,6809,'I'm Telling You Stories',Helena Grice;Tim Woods,Literary Criticism,This is a jubilant and rewarding collection of...,1998,3.70,10.0

In [24]:
df2.dtypes

index               int64
title              object
authors            object
categories         object
description        object
published_year      int32
average_rating    float64
ratings_count     float64
dtype: object

In [29]:
df2.loc[0,"description"]

'A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.'

In [30]:
df3 = df2.copy()

In [31]:
df2.to_csv("cleaned_books_data.csv",index=False)

In [42]:
def build_chart(df2,percentile = 0.08):
    print("input Preferred Categories")
    categories = str(input())
    print("input year")
    year = int(input())
    books = df2.copy()
    books = books[(books["categories"]==categories) & (books["published_year"]==year)]
    C = books["average_rating"].mean()
    m = books["ratings_count"].quantile(percentile)
    q_books = books.copy().loc[books["ratings_count"]>=m]
    q_books["score"] = q_books.apply(lambda x: (x["ratings_count"]/(x["ratings_count"]+m)* x["average_rating"])+(m/(m+x["ratings_count"])*C),axis=1)
    q_books = q_books.sort_values(by='score',ascending=False)
    return q_books

In [43]:
build_chart(df2)

input Preferred Categories

 Fiction

input year

 1999

,index,title,authors,categories,description,published_year,average_rating,ratings_count,score
1970,2057,The Border Trilogy,Cormac McCarthy,Fiction,"A trio of novel--All the Pretty Horses, The Cr...",1999,4.43,4468.0,4.420354
2127,2223,The Great Book of Amber,Roger Zelazny,Fiction,Roger Zelazny's Chronicles of Amber have earne...,1999,4.30,22974.0,4.298539
714,741,The Inimitable Jeeves,Pelham Grenville Wodehouse,Fiction,Michael Hordern stars as Jeeves with Richard B...,1999,4.25,7430.0,4.246034
2698,2825,Riddle-master,Patricia A. McKillip,Fiction,A collection of the complete and long out-of-p...,1999,4.22,9117.0,4.217017
404,410,Cat in the Dark,Shirley Rousseau Murphy,Fiction,"""Of course I worry. What if the cops witness a...",1999,4.25,696.0,4.211539
...,...,...,...,...,...,...,...,...,...
2336,2440,The Turn of the Screw,Henry James;Deborah Esch;Jonathan Warren,Fiction,This text is the first-and only-modern text to...,1999,3.44,746.0,3.480725
2224,2324,Thumbsucker,Walter Kirn,Fiction,A boy wracked with a serious oral fixation tri...,1999,3.43,1187.0,3.457148
2916,3050,Beowulf,Burton Raffel,Fiction,The oldest extant poem in a modern European la...,1999,3.43,2735.0,3.442209
406,412,Homebody,Orson Scott Card,Fiction,"Damaged Houses A master craftsman, Don Lark co...",1999,3.39,2660.0,3.403686
1983,2071,Evening,Susan Minot,Fiction,"Now ailing and surrounded by her children, six...",1999,3.36,3695.0,3.370554

### now Lets build a Content Based recommender Sysytem

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
tfidf = TfidfVectorizer(stop_words='english')

In [46]:
tfidf_matrix = tfidf.fit_transform(df2["description"])

In [48]:
tfidf_dense = tfidf_matrix.toarray()

In [49]:
tfidf_dense

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Computation

In [50]:
from sklearn.metrics.pairwise import linear_kernel

In [52]:
cosine_sim = linear_kernel(tfidf_dense,tfidf_dense)
cosine_sim

array([[1.        , 0.00193501, 0.        , ..., 0.01201797, 0.0056321 ,
        0.        ],
       [0.00193501, 1.        , 0.01579622, ..., 0.00352623, 0.00344317,
        0.02975337],
       [0.        , 0.01579622, 1.        , ..., 0.        , 0.00933591,
        0.        ],
       ...,
       [0.01201797, 0.00352623, 0.        , ..., 1.        , 0.00261145,
        0.01161457],
       [0.0056321 , 0.00344317, 0.00933591, ..., 0.00261145, 1.        ,
        0.        ],
       [0.        , 0.02975337, 0.        , ..., 0.01161457, 0.        ,
        1.        ]])

## Building the Recommender System

In [53]:
indices = pd.Series(df2.index,index=df2["title"]).drop_duplicates()

In [54]:
indices

title
Gilead                                                                                            0
Spider's Web                                                                                      1
The One Tree                                                                                      2
Rage of angels                                                                                    3
The Four Loves                                                                                    4
                                                                                               ...
Journey to the East                                                                            6406
The Monk Who Sold His Ferrari: A Fable About Fulfilling Your Dreams & Reaching Your Destiny    6407
I Am that                                                                                      6408
The Berlin Phenomenology                                                                       6409
'I'm Telling You Stories'                                                                      6410
Length: 6411, dtype: int64

In [55]:
def content_recommender(title,cosine_sim=cosine_sim,df2=df2,indices=indices):
    idx=indices[title]
    sim_score = list(enumerate(cosine_sim[idx]))
    sim_score = sorted(sim_score,key=lambda x: x[1],reverse=True)
    sim_score = sim_score[1:11]
    books_indices = [1[0] for i in sim_score]
    return df2['title'].iloc[books_indices]

<>:6: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:6: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\91994\AppData\Local\Temp\ipykernel_24200\3539469597.py:6: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  books_indices = [1[0] for i in sim_score]

In [57]:
content_recommender('The Four Loves')

C:\Users\91994\AppData\Local\Temp\ipykernel_24200\3539469597.py:6: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  books_indices = [1[0] for i in sim_score]
C:\Users\91994\AppData\Local\Temp\ipykernel_24200\3539469597.py:6: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  books_indices = [1[0] for i in sim_score]

TypeError: 'int' object is not subscriptable